@page "/doctors/details"
@using BusinessLayer
@using CityCentreProject.Components.Services
@using ServiceLayer
@inject DoctorManager DoctorService
@inject NavigationManager NavigationManager
@inject StateContainer<Doctor> doctorContainer

<h3>Doctor Details</h3>

@if (doctor != null)
{
    <p>Name: @doctor.UserName</p>
}
else
{
    <p>Doctor not found.</p>
}

<button @onclick="GoBack">Back to List</button>

@code {


    private Doctor doctor;

    protected override async Task OnInitializedAsync()
    {
        doctor = doctorContainer.Value;
        await base.OnInitializedAsync();
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/doctors");
    }
}
